@use "sass:map";
@use "sass:list";
@import "$lib/palette.scss";

/* Constant rules */
body {
  margin: 0;
  transition: background 0.1s ease-out;
  // min-height: 100vh;
}
.no-anim {
  transition: none !important;
}
*:focus {
  outline: none;
}

// Generics
@for $i from 1 through 6 {
  h#{$i} {
    font-size: list.nth([3em, 2.5em, 2em, 1.5em, 1.25em, 1em], $i);
  }
}

/* Theme affected rules */
@each $name, $theme in $themes {
  .#{$name} {
    @each $color, $value in $theme {
      .#{$color} {
        color: $value;
      }
    }

    body {
      background: map.get($theme, "mantle");
    }

    @for $i from 1 through 6 {
      h#{$i} {
        color: map.get($theme, list.nth([ "red", "peach", "yellow", "green", "blue", "mauve"], $i));
      }
    }
  }
}
